.container{
    border-radius: 10px;
    background-color: #090a0a !important;
    height: 55px !important;
    color: white !important;
    border: solid 1px #595959 !important; 
    
    @media screen and (min-width: 1024px) {
        height: 60px !important;
    }


}

.container::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
  .container::-ms-input-placeholder { /* Edge 12-18 */
    color: white;
  }

  .error-text{
    color: red;
  }