.container{
    width: 100%;
    height: 400px;
}

.background-profile{
    height: 70%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(48,89,181,1) 37%, rgba(0,54,65,1) 100%);
}

.background-artist{
    height: 70%;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.info-wrapper{
    width: 100%;
    padding: 16px 32px;
    display: flex;
    align-items: flex-start;
    height: auto;
    max-width: 800px;
}

.img-container{
    width: 40%;
    max-width: 300px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.img-wrapper{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translate(-50%, -5%);
    height: 200px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
    }
 
}

.content-container{
    width: 70%;
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.name{
    font-size: 28px;
    font-weight: 600;
    color: white !important;
}

.role{
    font-size: 18px;
    font-weight: 600;
    color: white !important;
}

.created_at{
    font-size: 14px;
    color: white !important;
}