.container{
    display: flex;
    align-items: center;
    column-gap: 4px;
    width: 80px;
}

.icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-wrapper{
    width: 100%;
    max-width: 50px;
}