.container {
  display: grid;
  grid-template-areas:
    "topBar topBar topBar"
    "sideBar main rightBar"
    "bottomBar bottomBar bottomBar";
grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: #202020 solid 1px;
  border-top-left-radius: 10px;
  overflow: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
