.container{
    display: flex;
    align-items: center;
    column-gap: 14px;
    max-width: 250px;
    width: 100%;
    min-width: 250px
    
}

.img-wrapper{
    width: 25%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    


    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.info-wrapper{
    width: 70%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    mask-image: linear-gradient(to right, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
    transition: transform 0.5s ease;

    .title{
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        color: white !important;
    
        &:hover{
            text-decoration: underline;
            animation: scroll-to-end 15s linear infinite;
        }
    }

    .authors{
        font-size: 10px;
        font-weight: 400;
        cursor: pointer;
        color: white !important;
        &:hover{
            text-decoration: underline;
        }
    }
}

@keyframes scroll-to-end {
    0% {
      transform: translateX(0); /* Start from the beginning */
    }
    50% {
      transform: translateX(-100%); /* Scroll to the end */
    }
  }